/*
Title 	: CSS for Simple Carousel with Paging Using Mootools
Author 	: Nikhil Kunder
Date 	: 2008/09/12
Version : 1.0
    moocarousel_v1.0.js & carousel.css  is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 	Lesser General Public License for more details.
*/

@charset "utf-8";
/* CSS Document */
.clearfix{clear:both;display:block;}
.text{ color:#555555;}

/* carousel css*/
.sprite_icon{background:url(images/sprite_carousel_icons.gif) no-repeat;}
.carousel_container_l, .carousel_container_r{display:block; margin:73px 0 0 0 ; position: relative;width: 23px;height:20px; float:left; cursor:pointer; } 
.carousel_container_r{background-position: 0 -38px; } 
.carousel_container_l{background-position: 0 -58px; }
.carousel_items{ width:128px; height:154px; border:1px dotted #cfcfcf; margin:5px 5px; position:relative;float:left; text-align:center; overflow:hidden;}

.carousel_items img{margin:2px;} 

/* carousal 1 - video tutorials */
#tutorial_carousel_container{width:443px; margin:0 0 0 43px; float:left; border:2px solid #000; background-color:#fff; border-top-left-radius:7px; -moz-border-top-left-radius:7px; -webkit-border-top-left-radius:7px; border-top-right-radius:7px; -moz-border-top-right-radius:7px; -webkit-border-top-right-radius:7px;	}
#tutorial_carousel_wrapper{overflow:hidden; width:443px; position: relative; float:left;}
#tutorial_carousel_items_container{margin:0px; padding:0px 2px; position: relative; height:185px;  }

/* carousal 2 - pdfs */
#pdf_carousel_container{width:443px; margin:0px 0 5px 43px; float:left; border:2px solid #000; background-color:#fff; border-top-left-radius:7px; -moz-border-top-left-radius:7px; -webkit-border-top-left-radius:7px; border-top-right-radius:7px; -moz-border-top-right-radius:7px; -webkit-border-top-right-radius:7px;	}
#pdf_carousel_wrapper{overflow:hidden;width:443px; position: relative; float:left;}
#pdf_carousel_items_container{margin:0px; padding:0px 2px; position: relative; height:185px;  }
.pdf_carousel_items{ width:128px; height:154px; margin:5px 5px; position:relative;float:left; text-align:center; overflow:hidden; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;}



/* carousel paging css*/
.carousel_paging {text-align:right; margin:5px 10px 0 0;}
.carousel_paging .current, .carousel_paging .page{ outline:none;  width:15px; height:15px; line-height:15px; text-align:center; display:block; float:left; background:#D8D8EB; margin:0 1px 0 0; text-decoration:none;}
.carousel_paging a:hover, .carousel_paging .current{background:#4D4D9B; color:#ffffff;}

